.ui-form{
    padding: 0px;
    margin-left: 20px;
}
.ui-form li{
    list-style: noen;
}
.ui-table{
    padding: 0px;
    margin: 0;
}
.ui-table li{
    list-style: none;
}
.back-prof {
    width: 40px;
    height: 33px;
    object-fit: cover;
}